@import models.VisitPurpose
@import helper._

@()(implicit request: RequestHeader)

@main("Welcome to Play") {
    <h1>Why are you visiting today?</h1>

    <div style="text-align: center;">
        @form(CSRF(controllers.arrival.routes.ArrivalController.selectArrivalPurpose(VisitPurpose.Volunteering))){
            <button class="btn btn-reason">
                Volunteering
            </button>
        }
        @form(CSRF(controllers.arrival.routes.ArrivalController.selectArrivalPurpose(VisitPurpose.Riding))){
            <button class="btn btn-reason">
                Riding
            </button>
        }
        @form(CSRF(controllers.arrival.routes.ArrivalController.selectArrivalPurpose(VisitPurpose.JustVisiting))){
            <button class="btn btn-reason">
                JustVisiting
            </button>
        }
    </div>
}